{% block menu_block %}
    {% if level is not defined %}
        {% set level = 0 %}
    {% endif %}
    {% block menu %}
        <ul class="level-{{ level }}" data-level="{{ level }}">
            {% block nav_items %}
                {% for item in items %}
                    <li {{ (level == 0) ? 'class="category"' }}>
                        {% block nav_item %}
                            {% block nav_item_content %}
                                <a{% if (item.link is defined) and item.link %} href="{{ item.link }}"{% endif %} class="{{ item.is_group ? 'grouped' }} {{ (item.class is defined) and item.class ? item.class }}">
                                    {% block nav_item_image %}
                                        {% if item.image is defined %}{% block nav_item_image_content %}<img class="image-level-{{ level }}" src="{{ item.image }}">{% endblock nav_item_image_content %}{% endif %}
                                    {% endblock nav_item_image %}
                                    {% block nav_item_title %}
                                        {% if item.show_title %}{% block nav_item_title_content %}<span class="title">{{ item.title|raw }}</span>{% endblock nav_item_title_content %}{% endif %}
                                    {% endblock nav_item_title %}
                                    {% block nav_item_description %}
                                        {% if (item.description is defined) and item.description %}{% block nav_item_description_content %}<span class="description">{{ item.description|raw }}</span>{% endblock nav_item_description_content %}{% endif %}
                                    {% endblock nav_item_description %}
                                </a>
                            {% endblock nav_item_content %}
                            {% if item.columns|length %}
                                {% block nav_item_drop_columns %}
                                    <div class="{{ (level == 0) ? 'drop' : 'submenu' }} drop_{{ item.columns|length }} {{ loop.index <= ((items|length + 1) // 2) ? ' drop_left' : ' drop_right' }}">
                                        {% block nav_item_drop_columns_content %}
                                            {% for i, column in item.columns %}
                                                {% block nav_item_drop_column %}
                                                    <div class="col column_{{ i }}">
                                                        {% block nav_item_drop_column_content %}
                                                            {{ include('NitraMenuBundle::menuBlock.html.twig', {'level': level+1, 'items': column}) }}
                                                        {% endblock nav_item_drop_column_content %}
                                                    </div>
                                                {% endblock nav_item_drop_column %}
                                            {% endfor %}
                                        {% endblock nav_item_drop_columns_content %}
                                    </div>
                                {% endblock nav_item_drop_columns %}
                            {% elseif item.content is defined %}
                                {% block nav_item_drop %}
                                    <div class="{{ (level == 0) ? 'drop' : 'submenu' }} drop_1">
                                        {% block nav_item_drop_content %}
                                            <div class="col column_1">
                                                {{ item.content|raw }}
                                            </div>
                                        {% endblock nav_item_drop_content %}
                                    </div>
                                {% endblock nav_item_drop %}
                            {% endif %}
                        {% endblock nav_item %}
                    </li>
                {% endfor %}
            {% endblock nav_items %}
        </ul>
    {% endblock menu %}
{% endblock menu_block %}